@font-face {
  font-family: "v-sans";
  font-weight: 400;
  src: url("./assets/Roboto-Regular.ttf");
  font-display: auto;
}

@font-face {
  font-family: "v-sans";
  font-weight: 500;
  src: url("./assets/Roboto-Medium.ttf");
  font-display: auto;
}
